[Unit]
Description=Schedule Game Client Knowledge update checks

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=15s
Persistent=true
Unit=game-client-knowledge-update.service

[Install]
WantedBy=timers.target
