[Unit]
Description=Check Game Client Knowledge content updates every 10 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min
RandomizedDelaySec=60s
Persistent=true
Unit=game-client-knowledge-update.service

[Install]
WantedBy=timers.target
